// mixins & variables
@font-face {
	font-family: 'sourceCode';
	src: url('../fonts/SourceCodePro-Light.otf.woff') format('woff'),
		 url('../fonts/SourceCodePro-Light.ttf') format('truetype');
}

.transition(@target: all, @speed: 300ms, @type: linear) {
	-moz-transition: @target @speed @type;
	-ms-transition: @target @speed @type;
	-o-transition: @target @speed @type;
	-webkit-transition: @target @speed @type;
	transition: @target @speed @type;
}

.animate(@target: all, @speed: 400ms, @type: linear) {
	-moz-animation: @target @speed @type;
	-o-animation: @target @speed @type;
	-webkit-animation: @target @speed @type;
	animation: @target @speed @type;
}

.transform(@string) {
	-moz-transform: @string;
	-ms-transform: @string;
	-o-transform: @string;
	-webkit-transform: @string;
	transform: @string;
}

// resets
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
}

// main styles
html,
body {
	font-family: 'sourceCode';
	font-size: 16px;
	height: 100%;
	position: relative;
	width: 100%;
}

header {
	top: 50%;
	.transform(translateY(-50%));
	width: 100%;

	h1 {
		color: #fff;
		text-shadow: 0 0 5px rgba(30, 30, 30, 0.2);
		text-align: center;
		width: 100%;
		.animate(glow, 10s, infinite);
	}

	&:hover {
		h1 {
		}
	}
}


// media queries
@media screen and (min-width: 40em) {
}

@media screen and (min-width: 60em) {
}

// animations
@-webkit-keyframes glow {
	0% { text-shadow: 0 0 5px rgba(30, 30, 30, 0.2); }
	50% { text-shadow: none; color: rgba(30, 30, 30, 0.2); }
	100% { text-shadow: 0 0 5px rgba(30, 30, 30, 0.2); }
}

@-moz-keyframes glow {
	0% { text-shadow: 0 0 5px rgba(30, 30, 30, 0.2); }
	50% { text-shadow: none; }
	100% { text-shadow: 0 0 5px rgba(30, 30, 30, 0.2); }
}

@-o-keyframes glow {
	0% { text-shadow: 0 0 5px rgba(30, 30, 30, 0.2); }
	50% { text-shadow: none; }
	100% { text-shadow: 0 0 5px rgba(30, 30, 30, 0.2); }
}

@keyframes glow {
	0% { text-shadow: 0 0 5px rgba(30, 30, 30, 0.2); }
	50% { text-shadow: none; }
	100% { text-shadow: 0 0 5px rgba(30, 30, 30, 0.2); }
}
